<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/new.css">
</head>
<body>
    <h1>Add a family member</h1>
    <form action="/new" method="post">
        <p> What's your name? </p>
        <input type="text" name="name" placeholder="write your name"/>
        <p> pick Your Color</p>
        <input type="radio" name="color" id="red" value="red"/>
        <label for="red"><span class="red"></span></label>

        <input type="radio" name="color" id="green" value="green"/>
        <label for="green"><span class="green"></span></label>
     
        <input type="radio" name="color" id="yellow" value="yellow"/>
        <label for="yellow"><span class="yellow"></span></label>

        <input type="radio" name="color" id="olive" value="olive"/>
        <label for="olive"><span class="olive"></span></label>

        <input type="radio" name="color" id="orange" value="orange"/>
        <label for="orange"><span class="orange"></span></label>

         <input type="radio" name="color" id="indigo" value="indigo"/>
        <label for="indigo"><span class="indigo"></span></label>

        <input type="radio" name="color" id="blue" value="blue"/>
        <label for="blue"><span class="blue"></span></label>

        <input type="radio" name="color" id="violet" value="violet"/>
        <label for="violet"><span class="violet"></span></label>

        <div class="spacer"></div>
        <button type="submit">Add</button>
    </form>
    
</body>
</html>